@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 80vw;
  // background-color: lightblue;
  .header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid gray;

    .neoito {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #367bf6;
    }
    .large {
      font-family: Playfair Display;
      font-style: normal;
      font-weight: bold;
      font-size: 50px;
      line-height: 67px;

      color: #353a3f;
      
    }
    .btn {
      background: #ffffff;
      border: 1px solid #70777e;
      box-sizing: border-box;
      border-radius: 3px;
      font-size: 15px;
      line-height: 18px;
      padding: 10px;

      text-align: center;

      color: #6e757c;
      
    }
    .search-signup{
      display: flex;
      
      align-items: center;
      
    }
  } // header close
  .navabr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    // overflow: scroll;
    

    text-align: center;

    color: #6e757c;
  } //navbar closed
  #gradient {
    background-image: url("../images/Rectangle\ .png");
    height: 400px;
    // width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    //gradient effect
    .gradnt {
      width: inherit;
      height: inherit;
      background: linear-gradient(
        89.76deg,
        #353a3f 34.79%,
        rgba(53, 58, 63, 0.17) 96.59%
      );
      border-radius: 3px;

      .text1 {
        padding: 50px;
      }
      .first-para {
        // color: white;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 114.5%;
        color: #ffffff;
        padding: 15px;
      }
      .next-para {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 140%;
        /* or 28px */

        color: #ffffff;
        padding: 15px;
      }
      .continue-reading {
        padding: 15px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 140%;
        /* identical to box height, or 28px */

        color: #ffffff;
      }
    } // graduent effect closed
  } //gradient closed
  #grid-card {
    display: grid;

    grid-template-columns: auto auto;
    column-gap: 20px;
    padding-top: 30px;
    gap: 3%;

    // padding: 50px;

    .card {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      width: 100%;
      // height: 300px;
      margin: auto;

      // padding: 20px;
      background: #ffffff;
      border: 1px solid #e5e5e5;
      box-sizing: border-box;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
      border-radius: 3px;
      .para{
        padding: 15px;
      }
      .world {
        padding: 10px;
        // padding-top: 35px;

        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 140%;

        color: #367bf6;
      }
      .design{
        color: #56A451;

      }
      .card-para {
        padding: 5px;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 114.5%;

        color: #353a3f;
      }
      .nov12 {
        padding: 5px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;

        color: #6e757c;
      }
      .next-para {
        padding: 5px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        padding-bottom: 20px;

        color: #222529;
      }
      .card-link {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #367bf6;
        
        text-decoration: none;
      }
    } //card closed
  } //grid card closed
  .section-aside {
    display: flex;
    // width: 80vw;

    justify-content: space-between;
    

    .section1 {
      // background-color: cornflowerblue;
      // width: 69%;
      display: inline-block;
      padding-top: 25px;

      .fire-house {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 114.5%;
        padding: 20px;
        padding-bottom: 30px;
        color: #222529;
        border-bottom: 1px solid #e5e5e5;
      }
      .section-inline {
        display: flex;
        justify-content: space-between;
        column-gap: 80px;
        padding: 20px;
        padding-top: 50px;
        padding-bottom: 35px;
        border-bottom: 1px solid #e5e5e5;
      }
      .section-para1 {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 120%;
        // padding: 10px;
        color: #353a3f;
      }
      .section-para2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        padding: 20px 0px;

        color: #222529;
        text-align: justify;

      }
      .link3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        // padding: 10px;
        text-decoration: none;
        

        color: #367bf6;
      }
      // second part in section
      .inline1 {
        display: flex;
        // padding: 20px;
        justify-content: space-between;
        gap: 50px;
        text-align: justify;
        padding: 20px;

        padding-top: 50px;
        padding-bottom: 35px;
        border-bottom: 1px solid #e5e5e5;
      }
      .parahead {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 120%;
        padding: 10px;
        

        color: #353a3f;
      }
      .parahead2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        padding: 10px;

        color: #222529;
      }
      .link4 {
        padding: 10px ;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-decoration: none;
        // padding-right: 10px;
       

        color: #367bf6;
      }
      // third block in section1
      .section-inline3 {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        padding: 20px;
        padding-top: 50px;
        padding-bottom: 35px;
        border-bottom: 1px solid #e5e5e5;
      }
      .section-head-3 {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 120%;
        padding: 10px;
        color: #353a3f;
      }
      .section-para3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        padding: 10px;
        text-align: justify;
        


        color: #30445e;
      }
      .link5 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        padding: 10px;
        text-decoration: none;

        color: #367bf6;
      }
      // fourth  block in sectionn
      .inline4 {
        display: flex;
        padding: 20px;
        justify-content: space-between;
        gap: 50px;

        padding-top: 50px;
        padding-bottom: 35px;
        // border-bottom: 1px solid #e5e5e5;
      }
      .parahead-4 {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 120%;
        padding: 10px;
        // text-align: justify;

        color: #353a3f;
      }
      .parahead4 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        padding: 10px;
        text-align: justify;

        color: #222529;
      }
      .link6 {
        padding: 10px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;

        color: #367bf6;
        text-decoration: none;
      }
      .button {
        padding: 20px;

        .btn {
          padding: 5px 15px;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 18px;
          

          text-align: center;

          color: #6e757c;
          background: #ffffff;
          border: 1px solid #367bf6;
          box-sizing: border-box;
          border-radius: 100px;
          &:hover {
            color: blue;
            cursor: pointer;
          }
        }
      } // button close
    } // section1 closed
    .aside1 {
     
      display: inline-block;
      
      padding-top: 20px;
      padding-left: 35px;
      
      top: 0;
      position: sticky;
      .aside-para {
       
        background: #f8f9fa;
        
      }

      .about {
        padding: 20px;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 114.5%;
        

        color: #222529;

        align-items: center;
      }
      .aside-para2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        padding: 20px;
        padding-left: 20px;

        color: #222529;
      }

      .archive {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 114.5%;
        padding: 15px;

        color: #222529;
      }
      .link-13 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 180%;
        padding: 15px;
        
        a {
          color: #367bf6;
          text-decoration: none;
        }
      } // }link-13 closed
      .elsewhere {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 114.5%;
        padding: 15px;

        color: #222529;
      }
      .app {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 180%;
        padding: 15px;
        /* or 29px */
        p {
          color: #367bf6;
          text-decoration: none;
        }
      }
    } //aside1 closed
  } //section-aside closed
} //container endlast-head
.footer{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  background-color: #f9f9f9;
  width: 100%;
  padding: 2%;
  border-top: 1px solid #e5e5e5;


.footer-head1 {
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #222529;
}
.last-head {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding: 10px;

  color: #367bf6;
}
}

