@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 80vw;
}

.container .header1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.container .header1 .neoito {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #367bf6;
}

.container .header1 .large {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 67px;
  color: #353a3f;
}

.container .header1 .btn {
  background: #ffffff;
  border: 1px solid #70777e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  font-size: 15px;
  line-height: 18px;
  padding: 10px;
  text-align: center;
  color: #6e757c;
}

.container .header1 .search-signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .navabr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #6e757c;
}

.container #gradient {
  background-image: url("../images/Rectangle .png");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container #gradient .gradnt {
  width: inherit;
  height: inherit;
  background: linear-gradient(89.76deg, #353a3f 34.79%, rgba(53, 58, 63, 0.17) 96.59%);
  border-radius: 3px;
}

.container #gradient .gradnt .text1 {
  padding: 50px;
}

.container #gradient .gradnt .first-para {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 114.5%;
  color: #ffffff;
  padding: 15px;
}

.container #gradient .gradnt .next-para {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  /* or 28px */
  color: #ffffff;
  padding: 15px;
}

.container #gradient .gradnt .continue-reading {
  padding: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
  /* identical to box height, or 28px */
  color: #ffffff;
}

.container #grid-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  padding-top: 30px;
  gap: 3%;
}

.container #grid-card .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: auto;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.container #grid-card .card .para {
  padding: 15px;
}

.container #grid-card .card .world {
  padding: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 140%;
  color: #367bf6;
}

.container #grid-card .card .design {
  color: #56A451;
}

.container #grid-card .card .card-para {
  padding: 5px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 114.5%;
  color: #353a3f;
}

.container #grid-card .card .nov12 {
  padding: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #6e757c;
}

.container #grid-card .card .next-para {
  padding: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  padding-bottom: 20px;
  color: #222529;
}

.container #grid-card .card .card-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #367bf6;
  text-decoration: none;
}

.container .section-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .section-aside .section1 {
  display: inline-block;
  padding-top: 25px;
}

.container .section-aside .section1 .fire-house {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 114.5%;
  padding: 20px;
  padding-bottom: 30px;
  color: #222529;
  border-bottom: 1px solid #e5e5e5;
}

.container .section-aside .section1 .section-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 80px;
          column-gap: 80px;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 35px;
  border-bottom: 1px solid #e5e5e5;
}

.container .section-aside .section1 .section-para1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  color: #353a3f;
}

.container .section-aside .section1 .section-para2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  padding: 20px 0px;
  color: #222529;
  text-align: justify;
}

.container .section-aside .section1 .link3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  color: #367bf6;
}

.container .section-aside .section1 .inline1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  text-align: justify;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 35px;
  border-bottom: 1px solid #e5e5e5;
}

.container .section-aside .section1 .parahead {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  padding: 10px;
  color: #353a3f;
}

.container .section-aside .section1 .parahead2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  padding: 10px;
  color: #222529;
}

.container .section-aside .section1 .link4 {
  padding: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  color: #367bf6;
}

.container .section-aside .section1 .section-inline3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 35px;
  border-bottom: 1px solid #e5e5e5;
}

.container .section-aside .section1 .section-head-3 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  padding: 10px;
  color: #353a3f;
}

.container .section-aside .section1 .section-para3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  padding: 10px;
  text-align: justify;
  color: #30445e;
}

.container .section-aside .section1 .link5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  padding: 10px;
  text-decoration: none;
  color: #367bf6;
}

.container .section-aside .section1 .inline4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 35px;
}

.container .section-aside .section1 .parahead-4 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  padding: 10px;
  color: #353a3f;
}

.container .section-aside .section1 .parahead4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  padding: 10px;
  text-align: justify;
  color: #222529;
}

.container .section-aside .section1 .link6 {
  padding: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #367bf6;
  text-decoration: none;
}

.container .section-aside .section1 .button {
  padding: 20px;
}

.container .section-aside .section1 .button .btn {
  padding: 5px 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #6e757c;
  background: #ffffff;
  border: 1px solid #367bf6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
}

.container .section-aside .section1 .button .btn:hover {
  color: blue;
  cursor: pointer;
}

.container .section-aside .aside1 {
  display: inline-block;
  padding-top: 20px;
  padding-left: 35px;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}

.container .section-aside .aside1 .aside-para {
  background: #f8f9fa;
}

.container .section-aside .aside1 .about {
  padding: 20px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 114.5%;
  color: #222529;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .section-aside .aside1 .aside-para2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  padding: 20px;
  padding-left: 20px;
  color: #222529;
}

.container .section-aside .aside1 .archive {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 114.5%;
  padding: 15px;
  color: #222529;
}

.container .section-aside .aside1 .link-13 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  padding: 15px;
}

.container .section-aside .aside1 .link-13 a {
  color: #367bf6;
  text-decoration: none;
}

.container .section-aside .aside1 .elsewhere {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 114.5%;
  padding: 15px;
  color: #222529;
}

.container .section-aside .aside1 .app {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  padding: 15px;
  /* or 29px */
}

.container .section-aside .aside1 .app p {
  color: #367bf6;
  text-decoration: none;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f9f9f9;
  width: 100%;
  padding: 2%;
  border-top: 1px solid #e5e5e5;
}

.footer .footer-head1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #222529;
}

.footer .last-head {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding: 10px;
  color: #367bf6;
}
/*# sourceMappingURL=large web.css.map */