@media only screen and (max-width: 886px) {
  .container .navabr {
    overflow: scroll;
  }
  .container .navabr .nav {
    padding-right: 10px;
  }
  .container #gradient .gradnt .text1 {
    padding: 20px;
  }
  .container #gradient .gradnt .first-para {
    font-size: 30px;
  }
  .container #gradient .gradnt .next-para {
    font-size: 15px;
  }
  .container #gradient .gradnt .continue-reading {
    font-size: 15px;
  }
  .container #grid-card {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    gap: 30px;
  }
  .container .section1 {
    width: 100%;
  }
  .container .section1 .section-inline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
  }
  .container .section1 .inline1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .section1 .section-inline3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container .section1 .inline4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .section-aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .section-aside .section1 {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .container .section-aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .section-aside .section1 {
    width: 100%;
  }
}

@media only screen and (max-width: 573px) {
  .container {
    margin: 0 auto;
  }
  .container .header1 .neoito {
    font-size: 12px;
  }
  .container .header1 .large {
    font-size: 30px;
  }
  .container .header1 .btn {
    font-size: 12px;
  }
  .container #grid-card {
    width: 100%;
  }
  .container #grid-card .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container .section1 {
    width: 100%;
  }
  .container .section1 .section-inline {
    gap: 50px;
    padding: 0px;
  }
  .container .section1 .section-inline .image {
    width: 100%;
  }
  .container .section1 .inline1 {
    padding: 0px;
  }
  .container .section1 .inline1 .image {
    width: 100%;
  }
  .container .section1 .section-inline3 {
    padding: 0px;
  }
  .container .section1 .section-inline3 .image {
    width: 100%;
  }
  .container .section1 .inline4 {
    padding: 0px;
    gap: none;
  }
  .container .section1 .inline4 .image {
    width: 100%;
  }
}
/*# sourceMappingURL=media.css.map */