@media only screen and (max-width: 886px) {
  .container {
    .navabr {
      overflow: scroll;
      .nav{
        padding-right: 10px;
      }
      
      
    }
    #gradient {
      .gradnt {
        // max-width: 400PX;
        .text1{
          padding: 20px;
        }
        .first-para {
          font-size: 30px;
        }
        .next-para {
          font-size: 15px;
          // padding: 0px;
        }
        .continue-reading {
          font-size: 15px;
        }
      }
    }

    #grid-card {
      grid-template-columns: auto;
      gap: 30px;

      // flex-direction: column;
      // width: 100%;
    }

    .section1 {
      width: 100%;
      // flex-direction: row;

      .section-inline {
        flex-direction: column-reverse;
        width: 100%;
      }
      .inline1 {
        flex-direction: column;
      }
      .section-inline3 {
        flex-direction: column-reverse;
      }
      .inline4 {
        flex-direction: column;
      }
    }

    .section-aside {
      flex-direction: column;
      .section1 {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    .section-aside {
      flex-direction: column;

      .section1 {
        width: 100%;
      }
    }
  }
}


@media only screen and (max-width: 573px) {
  .container {
    margin: 0 auto;


    .header1{
      .neoito{
        font-size: 12px;
      }
      .large {
        font-size: 30px;
      }
      .btn{
        font-size: 12px;
      }


    }
    #grid-card {
     width: 100%;

      .card {
        flex-direction: column-reverse;
        // gap: 20px;
      }
    }

    .section1 {

      width: 100%;
      .section-inline {
        gap: 50px;
        padding: 0px;
        .image {
      
          width: 100%;
        }
      }
      .inline1 {
        padding: 0px;
        // gap: 30px;
        .image {
          width: 100%;
        }
      }
      .section-inline3 {
        padding: 0px;
        
        .image {
          width: 100%;
        }
      }
      .inline4 {
        padding: 0px;
        gap: none;
        .image {
          width: 100%;
        }
      }
    } //section1 closed
  }
}

